################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqlAsmSln/.vs/SqlAsmSln
/SqlAsmSln/SqlAsmTextTools/bin/Debug
/SqlAsmSln/SqlAsmTextTools/obj/Debug
/SqlAsmSln/SqlAsmTextTools/SqlAsmTextTools.sqlproj.user
/SqlAsmSln/SqlAsmTextTools/SqlAsmTextTools.dbmdl
/SqlAsmSln/SqlAsmTextTools/SqlAsmTextTools.jfm
/SqlAsmSln/SqlAsmCompression/obj/Debug
/SqlAsmSln/SqlAsmCompression/SqlAsmCompression.sqlproj.user
SqlAsmSln/SqlAsmCompression/SqlAsmCompression.dbmdl
/SqlAsmSln/SqlAsmCompression/SqlAsmCompression.jfm
/SqlAsmSln/SqlAsmCompression/bin/Debug
/SqlAsmSln/SqlAsmRegex/bin/Debug
/SqlAsmSln/SqlAsmRegex/obj/Debug
/SqlAsmSln/SqlAsmRegex/SqlAsmRegex.sqlproj.user
/SqlAsmSln/SqlAsmHttp/SqlAsmHttp.dbmdl
/SqlAsmSln/SqlAsmHttp/SqlAsmHttp.jfm
/SqlAsmSln/SqlAsmHttp/SqlAsmHttp.sqlproj.user
/SqlAsmSln/SqlAsmHttp/obj/Debug
/SqlAsmSln/SqlAsmRegex/SqlAsmRegex.dbmdl
/SqlAsmSln/SqlAsmRegex/SqlAsmRegex.jfm
/SqlAsmSln/SqlAsmConvertEncoding/SqlAsmConvertEncoding.sqlproj.user
/SqlAsmSln/SqlAsmConvertEncoding/obj/Debug/SqlAsmConvertEncoding.sqlproj.AssemblyReference.cache
